:root {
  --orange: #ffac81;
  --red: #ff928b;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--orange);
  height: 100%;
}
main {
  display: grid;
  place-items: center;
}
.card {
  display: inherit;
  position: relative;
  height: 43em;
  width: 22em;
  margin: 2em 1em;
}
.card img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.75);
}
.card-subcard {
  display: grid;
  margin-top: 10em;
  padding-top: 8em;
  box-shadow: 3px 6px 15px -3px rgba(0, 0, 0, 0.75);
  background: white;
}
.card-header {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: -0.4em;
  font-family: "Lucida Sans", sans-serif;
}
.card-subheader {
  text-align: center;
  font-size: 1.2rem;
  color: dimgray;
}
.card-content {
  padding: 0.5em 2.5em;
  color: dimgray;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: auto;
}
.card a {
  text-align: center;
  text-decoration: none;
  align-self: end;
  justify-self: center;
  margin-bottom: 1em;
  padding: 0.4em;
  width: 12em;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  letter-spacing: 2px;
  outline: none;
  background: rgb(255, 91, 71);
  color: white;
  position: relative;
}
.card a:active {
  background: rgb(190, 64, 47);
  top: 2px;
}

@media screen and (max-width: 500px) {
  .card {
    height: 30em;
    width: 20em;
  }
  .card-subcard {
    margin-top: 8em;
  }
  .card-header {
    margin-bottom: auto;
  }
  .card-content {
    margin-top: 0.5em;
    font-size: 1.3rem;
  }
  .card img {
    width: 15.5em;
  }
  .card a {
    font-size: 1.1rem;
    margin-top: 1em;
  }
}
