:root {
  --orange: #ffac81;
  --red: #ff928b;
  --peach: #fec3a6;
  --yellow: #efe9ae;
  --green: #cdeac0;
}

body {
  background: var(--orange);
  box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  display: grid;
  grid-template: auto / 1fr;
  grid-template-area:
    ". t t ."
    ". b b ."
    ". b b ."
    ". . . .";
  align-items: center;
  justify-items: center;
}

h1 {
  grid-area: "t";
  color: white;
  font-size: 5rem;
  text-align: center;
  border-bottom: white solid;
}

section {
  grid-area: "c";
  background-color: white;
  border-radius: 2em;
  padding: 2em;
  max-width: 40vw;
  height: max-content;
  font-size: 2.2rem;
}

span {
  height: 10vh;
}

@media only screen and (max-width: 1110px) {
  section {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  section {
    font-size: 1.2em;
  }
}
