:root {
  --orange: #ffac81;
  --red: #ff928b;
  --peach: #fec3a6;
  --yellow: #efe9ae;
  --green: #cdeac0;
}

body {
  background: var(--orange);
  box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  display: grid;
  align-items: center;
  justify-items: center;
}

h1 {
  padding: 20px;
  color: white;
  font-size: 5rem;
  text-align: center;
  border-bottom: white solid;
}

section {
  background-color: white;
  border-radius: 2em;
  padding: 2em;
  max-width: 40vw;
  height: max-content;
  font-size: 2.2rem;
}

span {
  height: 5em;
}

@media only screen and (max-width: 600px) {
  section {
    font-size: 1.5em;
  }
  h1 {
    font-size: 4rem;
    border: none;
  }
}
